<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little Lemon Restaurant - Home</title>
    {% load static %}
</head>
<body>
    <header>
        <h1 style="text-align: center;">Welcome to Little Lemon Restaurant</h1>
    </header>
    <main>
        <section style="text-align: center;">
            <img src="{% static 'restaurant/littlelemon.png' %}" alt="Little Lemon Restaurant Logo">
        </section>
    </main>
</body>
</html>